.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 25%;
}

.img {
    width: 300px;
}

body, ul {
    margin: 0px;
}

ul {
    display: flex;
    gap : 20px;
    list-style-type: none;
    background-color: black;
    color: white;
}

li {
    padding: 1.2rem;
}

li:hover {
    background-color: white;
    color: black;
}